html {
  padding: 25px 0;
  background-image: url("../images/steelCage1.png");
  background-attachment: fixed;
}

body {
  background-color: #e1edeb;
  width: 80%;
  padding: 10px;
  margin: 0 auto;
  border-radius: 6.25px;
  box-shadow: 10px 10px 10px 20px rgba(0, 0, 0, 0.5);
  font-family: "Metrophobic", arial, serif;
  font-size: 12px;
}

h1 {
  color: #ff7643;
  font-family: "Varela Round", "Arial Black", serif;
  font-weight: normal;
  font-size: 3em;
  margin: 0;
  text-align: center;
  border-style: double;
  border-radius: 25px;
  background-color: blue;
}

h3 {
  color: blue;
}

h2 {
  color: #b1967c;
  font-family: "Varela Round", "Arial Black", serif;
  font-weight: normal;
  font-size: 2.2em;
  border-bottom: 2px white solid;
  padding: 0 0 2px 60px;
  margin: 0;
}

/* li {
  font-style: italic;
} */

p:not(.classy) {
  font-size: 16px;
  color: #616161;
  line-height: 150%;
  margin-top: 6px;
  margin-left: 10%;
  /* background-color: lime; */
}

img {
  max-width: 100%; /* A large image e.g. 2000px would appear off 
  the page but with this fix the image scales to different 
  screen sizes. Where a containing element (such as the body 
  or a div it sits within) is less than the intrinsic width of
  the image, it will simply scale up to the max available 
  space.*/
  border: 2px solid #e8cfa9;
}

/* width: 100% has a different effect. When the width property 
is used the image will be displayed at 100% of the parent container/element 
size.*/

table {
  border-width: 3px;
  border-style: solid;
  border-color: blue;
}

ul {
  overflow: hidden;
  list-style-type: none;
}

td,
th {
  border-width: 1px;
  border-style: solid;
  border-color: red;
}

p:not(.classy),
address {
  font-size: 1.25em;
  color: #616161;
  line-height: 150%;
  margin-top: 10px;
  margin-left: 60px;
}

video {
  max-width: 100%;
  height: auto;
}

footer {
  background-color: violet;
  padding: 0.5rem;
}

/* Links are this colour by default */
a {
  color: fuchsia;
}

/* Offsite links */
a:link {
  color: red;
}

/* Visited links */
a:visited {
  color: blue;
}

a:hover {
  color: yellow;
}

a.ListItem:link {
  color: white;
}

a.ListItem:visited {
  color: white;
}

a.ListItem.active {
  color: orangered;
}

a.ListItem:hover {
  color: yellow;
}

blockquote p {
  text-align: justify;
  padding: 0 5px;
}

.sconebefore:before {
  content: "Scones: ";
  background-color: olivedrab;
  color: white;
  padding: 5px;
  font-weight: 700;
}

.tip:before {
  content: "HOT TIP!";
  background-color: olivedrab;
  color: white;
  padding: 5px;
  font-weight: 700;
}

.MenuWrap {
  background-color: indigo;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  min-height: 2.75rem;
  display: flex;
  /* flex-direction: row-reverse; to reverse the menu order*/
  align-items: center;
  padding: 0 1rem;
}

.MenuWrap2 {
  background-color: indigo;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  min-height: 2.75rem;
  display: flex;
  flex-direction: column;
  /* flex-direction: column-reverse; to reverse the menu order*/
  align-items: center;
  padding: 0 1rem;
}

.ListItem,
.LastItem {
  color: #ebebeb;
  text-decoration: none;
}

.ListItem {
  margin-right: 1rem;
}

/* .LastItem {
  /* margin-left: auto; */
/* margin-right: auto; } */

.Header {
  padding: 1rem;
  margin: 0.5rem 1rem;
  -moz-border-radius: 12.5px;
  -webkit-border-radius: 12.5px;
  -ms-border-radius: 12.5px;
  border-radius: 12.5px;
  background-color: #ffffdf;
  border: 2px solid #e8cfa9;
}

.SubHeader {
  text-decoration: underline;
}

.MoneyShotImg {
  border-radius: 50%;
}

.BoxModel {
  padding: 10px;
  margin: 5px;
  border-width: 3px;
}

.CardLink {
  display: block;
  color: #666;
  text-shadow: 0 2px 0 #efefef;
  text-decoration: none;
  height: 2.75rem;
  line-height: 2.75rem;
  border-bottom: 1px solid #bbb;
  position: relative;
}

.CardLink::before {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.CardLink_Hearts::before {
  content: "♥";
}

.CardLink_Clubs::before {
  content: "♣";
}

.CardLink_Spades::before {
  content: "♠";
}

.CardLink_Diamonds::before {
  content: "♦";
}

.CardLink_Corporal::before {
  content: "«";
}

.CardLink_Omega::before {
  content: "Ω";
}

.Wrap {
  max-width: 1400px;
  margin: 0 auto;
}

.Header2 {
  width: 100%;
  height: 130px;
  background-color: #038c5a;
}

.WrapMiddle {
  width: 100%;
}

.Left {
  height: 625px;
  background-color: #03a66a;
  display: inline-block;
  margin-right: -4.5px;
  vertical-align: top;
  position: absolute;
  left: -200px;
  width: 200px;
  font-size: 0.8rem;
  transition: transform 0.3s;
}

.Middle {
  height: 625px;
  background-color: #bbbf90;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  font-size: 0.8rem;
  transition: transform 0.3s;
}

.Right {
  height: 625px;
  background-color: #03a66a;
  display: inline-block;
  margin-left: -4.5px;
  vertical-align: top;
  position: absolute;
  left: -100px;
  width: 100px;
  font-size: 0.8rem;
  transition: transform 0.3s;
}

.Footer {
  height: 200px;
  width: 100%;
  background-color: #025059;
}

.DottedBox {
  border-style: dotted;
  border-width: 2px;
  background-color: #fdf5e6;
  margin: 20px;
  padding: 20px;
}

.DashedBox {
  border-style: dashed;
  border-width: 2px;
  background-color: #fdf5e6;
  margin: 20px;
  padding: 20px;
}

.SolidBox {
  border-style: solid;
  border-width: 5px;
  background-color: #fdf5e6;
  margin: 20px;
  padding: 20px;
}

.DoubleBorderBox {
  border-style: double;
  border-width: 4px;
  background-color: #fdf5e6;
  margin: 20px;
  padding: 20px;
}

.GrooveBox {
  border-style: groove;
  border-width: 5px;
  background-color: #fdf5e6;
  margin: 20px;
  padding: 20px;
}

.RidgeBox {
  border-style: ridge;
  border-width: 5px;
  background-color: #fdf5e6;
  margin: 20px;
  padding: 20px;
}

.btn {
  border-radius: 5px;
  font-family: Arial, Helvetica, serif;
  font-size: 0.8 em;
}

.delete {
  background-color: red;
}
.add {
  background-color: green;
}
.edit {
  background-color: grey;
}

.pie {
  background-image: url("../images/diamondPlate.jpg");
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 70px;
  margin-right: 70px;
  padding: 10px;
  border-style: double;
  border-width: 3px;
  color: white;
  background-color: black;
  font-size: large;
  font-weight: bold;
  font-family: Verdana, sans-serif;
}

.CenterMe {
  background-color: indigo;
  color: #ebebeb;
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.InlineFlex {
  display: inline-flex;
  align-items: center;
  height: 120px;
  padding: 0 4px;
  background-color: indigo;
  text-decoration: none;
  border-radius: 3px;
  color: #ddd;
}

.FlexWrapper {
  background-color: indigo;
  display: flex;
  height: 200px;
  width: 100%;
  /* align-items: center; */
  /* justify-content: center; */
}

.FlexWrapper2 {
  background-color: indigo;
  display: flex;
  justify-content: space-between;
  height: 200px;
  width: 100%;
}

.FlexWrapper3 {
  background-color: indigo;
  display: flex;
  justify-content: space-around;
  height: 200px;
  width: 100%;
}

.FlexWrapper4 {
  background-color: indigo;
  display: flex;
  justify-content: center;
  height: 200px;
  width: 100%;
}

.FlexInner {
  background-color: #34005b;
  display: flex;
  height: 100px;
  width: 200px;
  color: #ebebeb;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
}

.AlignSelfFlexEnd {
  align-self: flex-end;
}

.AlignSelfFlexStart {
  align-self: flex-start;
}

.AlignSelfCenter {
  align-self: center;
}

.AlignSelfBaseline {
  align-self: baseline;
}

.AlignSelfStretch {
  align-self: stretch;
}

.FlexItems {
  border: 1px solid #ebebeb;
  background-color: #34005b;
  display: flex;
  height: 100px;
  width: 25%;
}

.FlexOne {
  flex: 1.5 0 auto;
  color: #ebebeb;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
}

.FlexTwo,
.FlexThree {
  flex: 1 0 auto;
  color: #ebebeb;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
}

.square {
  list-style-type: square;
}

.circle {
  list-style-type: circle;
}

.copyright {
  color: #f1cd33;
}

.Header p /* any p within the Header class */ {
  color: red;
  background: none;
}

.news h2 {
  color: red;
}
.news p {
  color: blue;
}

.contact .name {
  font-weight: bold;
}
.contact .phone {
  color: blue;
}
.contact .address {
  color: red;
}

#instructions {
  /* Makes the image not overflow off the page and stay within the div */
  overflow: hidden;
}

#wrapper {
  margin: 0 auto;
}
#sidebar {
  width: 32%;
  background-color: sienna;
  height: 625px;
  display: inline-block;
  margin-right: -4.5px;
}
#main {
  width: 68%;
  background-color: maroon;
  height: 625px;
  display: inline-block;
  margin-left: -4.5px;
}

input:focus {
  background-color: #ffffcc;
}

ul li::before {
  content: "\f1e3";
  font-family: "Font Awesome 5 Free";
  padding: 0 10px 0 0;
}

.square li::before,
.circle li::before {
  content: none;
}

/* attribute selector */
img[title="scones"],
img[title="banana"],
img[title="tomatoSoup"] {
  border-style: groove;
  border-width: 3px;
}

.FlexWrapper5 {
  background-color: indigo;
  display: flex;
  flex-direction: column;
}

.FlexItems2 {
  display: flex;
  align-items: center;
  min-height: 6.25rem;
  padding: 1rem;
}

.FlexHeader {
  background-color: #105b63;
  order: 1;
}

.FlexContent {
  background-color: #fffad5;
  /* order: -1; moves this flexbox to display before all others in the flexbox wrapper */
  order: 2;
}

.FlexSideOne {
  background-color: #ffd34e;
  order: 3;
}

.FlexSideTwo {
  background-color: #db9e36;
  order: 4;
}

.FlexFooter {
  background-color: #bd4932;
  order: 5;
}

.childSelectHead {
  border-top: sandybrown dashed 2px;
  border-bottom: sandybrown dashed 2px;
}

.childSelect div {
  display: inline-block;
  width: 20%;
}

.childSelect h3 {
  padding-inline-start: 40px;
  margin-bottom: 1px;
}

.childSelect ul {
  margin-top: 1px;
}

.childSelect ul li {
  border-bottom: 1px solid black;
}

.liFirstChild li:first-child,
.liLastChild li:last-child,
.liOddChild li:nth-child(odd),
.liEvenChild li:nth-child(even),
.li2ndChild li:nth-child(2),
.li5thChild li:nth-child(5),
.liEvery3rdChild li:nth-child(3n),
.liEvery2ndChild li:nth-child(2n),
.li1stChildof3 li:nth-child(3n + 1),
.li2ndChildof4 li:nth-child(4n + 2),
.liChildAfter2nd li:nth-child(n + 3),
.liChild3 li:nth-child(-n + 3) {
  color: red;
  border: 2px solid blue;
  background-color: lightgrey;
  font-weight: bolder;
}

.alternation tr:nth-child(odd) {
  background-color: lightskyblue;
}

.alternation td:nth-child(3n + 2) {
  background-color: darkred;
}

#signupForm {
  display: none;
}

#signupForm:target {
  display: block;
}

.container {
    width: 960px;
    height: 34.188px;
    border: 1px solid black;
    background-color: white;
}

.orange_section, .orange_aside { 
  margin: 1.00%;    /*  10px ÷ 960px = 0.010416 */
  /* margin is used 4 times = 4% so 4% must bed deducted from section and aside width of 100% */
  background-color: orange;
  color: white;
  text-align: center;
} 
  
.orange_section { 
  float: left; 
  width: 61.77%;    /* 593px ÷ 960px = 0.617708 */ 
} 
  
.orange_aside { 
  float: right; 
  width: 34.23%;    /* 367px ÷ 960px = 0.382291 */ 
}

@media (min-width: 50em) {
  /* styles within the media query */
  img {
    border-radius: 0;
  }

  .IntroWrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  .MoneyShot,
.IntroText /* class and class */ {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    text-align: center;
    padding: 0.5rem;
  }

  .IntroText {
    font-size: 2.5rem;
    text-align: left;
  }

  .Ingredients {
    font-size: 0.8rem;
    float: right;
    padding: 1rem;
    margin: 0 0 0.5rem 1rem;
    border-radius: 3px;
    background-color: #ffffdf;
    border: 2px solid #e8cfa9;
  }

  .Ingredients h3 /* any h3 within the Ingredients class */ {
    margin: 0;
  }
}

@media (min-width: 40rem) {
  .Left {
    width: 20.8333333%;
    left: 0;
    position: relative;
  }

  .Middle {
    width: 68.75%;
    position: relative;
  }

  .Right {
    width: 10.609%;
    left: 0;
    position: relative;
  }
}

@media (min-width: 32em) {
  .MenuWrap2 {
    flex-direction: row;
  }
  .ListItem {
    margin-right: 1rem;
  }
  .LastItem {
    margin-left: auto;
  }
}

@media (min-width: 30rem) {
  .FlexWrapper5 {
    flex-flow: row wrap; /* Allows flex items to wrap onto multiple lines */
  }
  .FlexHeader {
    width: 100%;
  }
  .FlexContent {
    flex: 1;
    order: 3;
  }
  .FlexSideOne {
    width: 150px;
    order: 2;
  }
  .FlexSideTwo {
    width: 150px;
    order: 4;
  }
  .FlexFooter {
    width: 100%;
  }
}

@media (max-width: 480px) {
  p {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  p {
    font-size: 11px;
  }
}

@media (max-width: 400px) {
  h1 {
    color: blue;
    background-color: red;
  }
}

@media (min-width: 300px) {
  .CardLink {
    padding-left: 1.8rem;
    font-size: 1.6rem;
  }

  .CardLink:before {
    display: block;
  }
}

@media (min-width: 320px) {
  body {
    background-color: green;
  }
}
@media (min-width: 550px) {
  body {
    background-color: yellow;
  }
}
@media (min-width: 768px) {
  body {
    background-color: orange;
  }
}
@media (min-width: 960px) {
  body {
    background-color: white;
  }
}
